{% extends "base.html" %}
{% load static %}

{# English #}
{% block lang %}lang="en"{% endblock %}

{# Title #}
{% block title %}Logout | Project{% endblock %}

{# Description #}
{% block description %}Logout Page{% endblock %}

{# Extra head tags #}
{% block head %}
<!--
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
-->
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preload" href="{% static "src/css/logout.css" %}" as="style"/>
	<link rel="stylesheet" href="{% static "src/css/logout.css" %}"/>
{% endblock %}

{# body content #}
{% block content %}
<div class="container">
	<h1>Logout</h1>
</div>

{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}
