@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf");
  font-display: swap;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #1f2029 !important;
}

body {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #c4c3ca;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 992px) {
  body {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 0.95rem;
  }
}

a {
  color: #3291ff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 200ms linear;
  transition: color 200ms linear;
}
a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  main {
    margin-bottom: 5em;
  }
}
@media only screen and (min-width: 768px) {
  main {
    margin-left: 8em;
  }
}

@media only screen and (min-width: 768px) {
  .left {
    padding: 0 1em 0 5em;
  }
}

@media only screen and (min-width: 768px) {
  .right {
    padding: 0 5em 0 1em;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  padding: 4em 1em 0em 1em;
  margin-right: auto;
  margin-left: auto;
}

.full-height {
  min-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1.4em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c3ca;
  border-radius: 1em;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #dfdee2;
}
