.vert-form {
	max-width: 100%;
	gap: 1em;
    display: flex;
    flex-direction: column;
	align-items: center;
}

.horiz-form {
	max-width: 100%;
	gap: 1em;
    display: flex;
	align-items: center;
}

input[type='text'], input[type='password'] {
	min-width: 0;
	max-width: 100%;
}

input[type='submit'] {
	width: fit-content;
}

.form-group{ 
	max-width: 100%;
	gap: 1em;
    border-radius: 0.3em;
    padding: 0.8em 1.4em;
    background-color: var(--bg-color-primary);
    position: relative;
    display: flex;
    margin: 0;
	box-shadow: rgba(20, 20, 20, 0.3) 0px 7px 29px 0px;
    -webkit-transition: box-shadow 200ms linear;
    transition: box-shadow 200ms linear;
}
.form-style {
    -webkit-font-smoothing: antialiased;
    padding: 0;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--fg-color-primary);
    background-color: transparent;
    border: none;
    -webkit-transition: color 200ms linear;
    transition: color 200ms linear;
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
}

.form-group:focus-within {
	box-shadow: rgba(20, 20, 20, 0.5) 0px 7px 29px 0px;
}
.input-icon {
	display: contents;
    font-size: 1.5em;
    color: #ffeba7;
    -webkit-transition: color 200ms linear;
    transition: color 200ms linear;
    text-align: center;
}

.form-group input:-ms-input-placeholder  {
  color: var(--fg-color-primary);
  opacity: 0.7;
  -webkit-transition: color 200ms linear, opacity 200ms linear;
    transition: color 200ms linear, opacity 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: var(--fg-color-primary);
  opacity: 0.7;
  -webkit-transition: color 200ms linear, opacity 200ms linear;
    transition: color 200ms linear, opacity 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: var(--fg-color-primary);
  opacity: 0.7;
  -webkit-transition: color 200ms linear, opacity 200ms linear;
    transition: color 200ms linear, opacity 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: var(--fg-color-primary);
  opacity: 0.7;
  -webkit-transition: color 200ms linear, opacity 200ms linear;
    transition: color 200ms linear, opacity 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
}

.btn {
  border-radius: 0.3em;
  font-size: 0.95em;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : color 200ms linear, background-color 200ms linear, box-shadow 200ms linear;
  transition: color 200ms linear, background-color 200ms linear, box-shadow 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--btn-bg-color-primary);
  color: var(--btn-fg-color-primary);
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus {  
  background-color: var(--btn-bg-color-primary);
  color: var(--btn-fg-color-primary);
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover {  
  background-color: var(--btn-fg-color-primary);
  color: var(--btn-bg-color-primary);
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

@media only screen and (max-width: 768px) {
	.horiz-form {
		flex-direction: column;
	}
}

@media only screen and (min-width: 768px) {
	.horiz-form {
		flex-direction: row;
	}
}
